---
import Layout from "../layouts/Layout.astro";
import nearest from "../../lib/nearest";
import codes from '../codes';

const res = await fetch("https://api.open-meteo.com/v1/metno?latitude=53.13&longitude=23.16&hourly=temperature_2m&current_weather=true");

const data = await res.json();

let time = data.hourly.time;
time.forEach((date, index) => {  
		time[index] = new Date(date);
});

const temperature = data.hourly.temperature_2m[nearest(time, new Date())]
const weathercode = String(data.current_weather.weathercode);

console.log(codes[weathercode]);

---

<Layout title="Weather">
  <div class="flex flex-col w-2/5 h-2/3 bg-sky-900 bg-opacity-25 rounded-2xl">
    <div class="flex flex-col justify-center items-center h-1/3 rounded-2xl">
      <h1 class="text-black font-semibold text-xl drop-shadow-xl">
        Białystok
      </h1>
      <p class="text-black text-6xl drop-shadow-xl font-bold">{temperature}°C</p>
      <p class="text-black text-md drop-shadow-xl font-semibold">{codes[weathercode]}</p>
    </div>
  </div>
</Layout>
